body{
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.header{
  position: sticky;
  top: 0;
  width: 100%;
  background-color: rgb(9, 1, 29);
  display: flex;
  align-items: center;
  padding: 0.5%;
}
.logo{
  width: 5%;
  margin-left: 1%;
 
}
.Location{
  display: flex;
  margin-left: 3%;
}
.Location p{
  font-size: 13px;
  color: gray;
}
.Location svg{
  color: white;
  font-size: 18px;
}
.Location .countery{
  font-size: 15px;
  color: white;
}
.Search{
  display: flex;
  margin-left: 2%;

width: 60%;


}
.Search select{
  flex: 1;
  align-items: flex-start;
  background-color: rgb(227, 227, 227);
  border-radius: 0.3rem 0rem 0rem 0.3rem;
  padding: 10px;
  outline: none;
}
.Search svg{
  background-color: orange;
  padding: 1%;
 border-radius: 0rem 0.3rem 0.3rem 0rem;
}
.SearchBar{
width: 100%;
padding: 0.7%;
outline: none;
}
.left{
  display: flex;
  flex: 3;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 3%;
  color: white;

  font-size: 13px;
}

.left select{
  background-color: transparent;
  border: none;
  color: white;
  outline: none;
  font-weight: 700;
}
.cart{
  display: flex;
  font-weight: bold;
  margin-right: 3%;
}
.OrdersRet{
  display:block
}
.secound_header{
  display: flex;
  background-color: rgba(0, 22, 83, 0.864);
  align-items: center;
gap: 1%;
color: white;
font-weight: 500;
padding: 0.5%;
font-size: 13px;
position: sticky;
}
.All{
  display: flex;
  align-items: center;
  
}